body, html
  margin 0

.module
  background #fff
  box-shadow 0px 2px 5px 0px rgba(0,0,0,0.12)
  border-radius 5px
  margin-bottom 50px
  padding 10px 30px
  transition all 0.2s ease
  position relative

  &.inverted
    background: #000;

p
  color #999
  font-size 12px
  margin 0 0 20px 0

  &.show-hide-code,
  &.copy
    cursor pointer
    font-size 15px
    position absolute
    right 10px
    top 10px
    &:hover
      opacity .7
  &.is-dark
    color #fff

.relative
  position relative

.overflow
  overflow-x auto

.width-transition
  width calc(100% + 30px)

.black-text
  color #000

h2
  font-weight 400
  font-size 24px

code,
code[class*="language-"],
pre[class*="language-"]
  font-family Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif !important
  font-size 13px !important
  line-height 20px !important
  margin 0 !important
  text-shadow 0 0 white !important
  color #0076ff !important

.token
  &.punctuation, &.operator
    color #555 !important
    background none !important
  &.string
    color #028265 !important
  &.keyword
    color #ff0078 !important
    font-weight bolder !important
  &.function, &.tag, &.class-name, &.number, &.tag.punctuation
    color: #0076ff !important
  &.comment, &.prolog, &.doctype, &.cdata
    color: #999 !important

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection
  color white !important
  background rgb(255, 0, 128) !important

.hidden
  display none !important

:not(pre) > code[class*="language-"], pre[class*="language-"]
  background none !important

// to fix
.z-button
  transition all 0.2s ease !important
// add type shadow to button
// fix hover icon with type highlight and shadow
// fix icon bug with type primary
// add slot to badge
// code selection terminal ouput is green (should be rgb(255, 0, 128))
// border-color avatar dark is wrong, should be #fff and normal is #333
// svg spacing or padding in show more toggle is wrong
// add slot to show more toggle?
// border color of the note component when it has a dark class is wrong
// change scroller default width to 760px
// placeholder color of the input component normal is wrong
// max-length is bugged in the input component
// badge padding is wrong when is only number
// sidebar is larger than zeit/design.co
// icon inside input is bigger than zeit/design.co
// add with icon right to input
// add with label right to input
// bug width input, mostly when have label on it
// change label to inlineLabel and add a label just like zeit/design.co/inputs
// check if something can be done to improve Date
// add event table to docs
// add slot table to docs
// add label to the input docs
